.modListAndView {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 3fr);
}

.modListContainer,
.modViewContainer {
  display: flex;
  flex-direction: column;
}

.modListContainer {
  gap: 0.5em;
}

.modList,
.modView {
  overflow: auto;
  flex: 1 1 0;
  padding-right: 0.5em;
}

.noModsMessage {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  p {
    color: var(--clr-neutral-20);
  }
}

.noModsMessage__btns {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}

.discoveredLine {
  display: flex;
  align-items: center;
  gap: 8px;

  & > span {
    padding: 8px 0;
  }
}

.trailingControls {
  display: flex;
  gap: 0.5em;
  margin-left: auto;
}

.refreshButton {
  appearance: none;
  border: none;
  background: none;

  border-radius: 50%;
  aspect-ratio: 1;
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 8px;
  display: inline-block;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-primary-40);
  }
}

.modIcon {
  aspect-ratio: 1;
  align-self: flex-start;
  border-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.modList {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--clr-neutral-80);

  li:has(.mod__btn:hover) + li .mod__btn,
  li:has(.mod__btn:active) + li .mod__btn {
    border-top-color: transparent;
  }

  --animation-time: 0.1s;
  --animation-curve: ease-in-out;

  .mod {
    display: flex;

    .mod__selector {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;

      width: 1.5em;
      margin-right: -1em;

      /* Setting this to higher than 0 causes
        check boxes to display on top of the
        sidebar when it is in its small screen
        overlay state for some reason. This is
        needed at all to make the hover region
        overlap the mod image
      */
      z-index: 0;

      transition: width var(--animation-time) var(--animation-curve),
        margin var(--animation-time) var(--animation-curve);

      > input {
        display: none;
      }

      .mod__selectorClickRegion {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
      }

      .mod__selectorIndicator {
        height: 30px;
        width: 0;
        border: 1.5px solid var(--clr-neutral-15);
        border-radius: 2px;

        transition:
          height var(--animation-time) var(--animation-curve) 0.05s,
          width var(--animation-time) var(--animation-curve),
          border-width var(--animation-time) var(--animation-curve),
          transform var(--animation-time) var(--animation-curve) 0.05s,
          margin var(--animation-time) var(--animation-curve);
        transform: translateX(-1.5px);

        > svg {
          visibility: hidden;
        }
      }

      &:hover,
      &:has(> input:checked),
      &[data-always-show] {
        width: calc((0.5em * 2) + 18px + 1em);

        .mod__selectorIndicator {
          border-width: 2px;
          width: 18px;
          height: 18px;
          appearance: none;

          transition:
            height var(--animation-time) var(--animation-curve),
            width var(--animation-time) var(--animation-curve),
            border-width var(--animation-time) var(--animation-curve),
            transform var(--animation-time) var(--animation-curve),
            margin var(--animation-time) var(--animation-curve);
          transform: none;

          margin: 0 0.5em;
        }

        input:checked + .mod__selectorIndicator svg {
          visibility: visible;
        }
      }
    }

    .mod__btn {
      display: flex;
      margin: 0;
      border: 1px solid transparent;
      max-width: 100%;
      border-top-color: var(--clr-neutral-80);
      flex-grow: 1;
      background-color: transparent;
      transition:
        background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out,
        border-radius 0.3s ease-out;

      .mod__btnContent {
        display: flex;
        margin: 0;
        padding: 0.5em;
        gap: 0.75em;
        text-align: left;
        flex-grow: 1;
        overflow: hidden;
      }

      &:has(.mod__selector) {
        .mod__btnContent {
          padding-left: 0;
        }

        &:not(:hover):not(:has(.mod__selector > input:checked, .mod__selector[data-always-show])) {
          .mod__selectorIndicator {
            height: 0;
            border-width: 0;

            transition:
              height var(--animation-time) var(--animation-curve),
              width var(--animation-time) var(--animation-curve),
              border-width var(--animation-time) var(--animation-curve) var(--animation-time),
              transform var(--animation-time) var(--animation-curve),
              margin var(--animation-time) var(--animation-curve);
          }
        }
      }

      &:hover {
        background-color: var(--clr-neutral-80);
        border-radius: 6px;
        /* transition: border-color 0.2s ease, border-radius 0.3s ease-out; */
        border-color: var(--clr-neutral-70);
        cursor: pointer;

        .downloadBtn {
          visibility: visible;
        }
      }

      &:active {
        border-color: var(--clr-neutral-50);
      }
    }

    &.selected .mod__btn {
      border-color: var(--clr-primary-60);
      border-radius: 6px;
      background-color: var(--clr-neutral-80);
    }

    &.selected .mod__btn:hover {
      background-color: var(--clr-neutral-70);
    }

    &.selected .mod__btn:active {
      border-color: var(--clr-neutral-50);
    }
  }

  .mod__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1em;
    min-width: 0;

    .info {
      display: flex;
      align-items: center;
      gap: 0.35em;
      color: var(--clr-neutral-20);
      font-size: 0.9rem;
    }

    .info * {
      flex-shrink: 0;
    }

    .separator {
      color: var(--clr-neutral-60);
      font-weight: 400;
      font-size: 0.75rem;
    }

    .left,
    .right {
      gap: 0.35em;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 0;
    }

    .downloadBtn {
      visibility: hidden;
      align-self: center;

      padding: 0.25em 0.65em;
      font-size: 1.5rem;
      aspect-ratio: 1 / 1;

      &[data-install] {
        --bg-clr: var(--clr-primary-40);

        &:hover,
        &:focus-visible {
          --bg-clr: var(--clr-primary-50);
        }
      }

      &[data-uninstall] {
        --bg-clr: var(--clr-danger-4);

        &:hover,
        &:focus-visible {
          --bg-clr: var(--clr-danger-5);
        }
      }

      &.downloadBtnBusy,
      &.downloadBtnBusy:hover,
      &.downloadBtnBusy:focus-visible {
        padding: 0;
        --bg-clr: transparent;
        visibility: visible;
      }
    }

    .name {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--clr-neutral-10);
      font-size: 1rem;
      flex-shrink: 1;
      min-width: 5ch;
      white-space: nowrap;
    }

    .medHierarchy {
      color: var(--clr-neutral-20);
      font-size: 0.9rem;
    }

    .lowHierarchy,
    .description {
      color: var(--clr-neutral-30);
      font-size: 0.85rem;
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
    margin-top: 0.5em;

    > li {
      border-radius: 100vmax;
      padding: 0.25em 0.6em;
      font-size: 0.8rem;
      color: var(--clr-neutral-20);
      border: 1px solid var(--clr-neutral-60);
    }
  }
}

.nothingMsg {
  text-align: center;
  margin: auto;
  padding-bottom: 3em;

  h2 {
    font-weight: 400;
    color: var(--clr-neutral-20);
    margin-bottom: 0.25em;
  }

  p {
    color: var(--clr-neutral-30);
  }
}

/* Mod View */

.modView {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
  padding-right: 0;
  margin-right: -1em;

  .versions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      display: flex;
      flex-direction: column;
    }
  }

  .name {
    white-space: break-word;
  }
}

.modSticky {
  margin-right: 1em;
}

.modMeta {
  display: grid;
  grid-template-areas:
    "name close"
    "owner donate"
    "meta donate";
  grid-template-columns: minmax(min-content, 100%) 1fr;
  row-gap: 0.25em;
  column-gap: 0.5em;
  padding-bottom: 0.75em;
}

.modMetaLink {
  display: flex;
  align-items: center;
  width: min-content;
  gap: 0.35em;
}

.modMeta__closeBtn {
  padding: 0.1em 0.5em;
  font-size: 1.25rem;
  background-color: transparent;
  justify-self: right;
}

.modMetadata {
  grid-area: meta;
  display: flex;
  gap: 1em;
  color: var(--clr-neutral-20);
  margin-top: 0.5em;
}

.metadata__field {
  white-space: nowrap;
}

.modMeta__donate {
  grid-area: donate;
  align-self: center;
  justify-self: right;
  padding: 0.5em 1em;
  border: 1px solid var(--clr-neutral-70);
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;

  .donate__icon {
    font-size: 1.25em;
  }
}

.modDeps {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-right: 1em;

  .dependency {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 0.5em;
    border: 1px solid var(--clr-neutral-75);
    border-radius: 4px;

    transition: background-color 0.1s ease;

    [data-name] {
      color: var(--clr-neutral-15);
    }

    [data-owner],
    .externalIcon {
      color: var(--clr-neutral-30);
      font-size: 0.9rem;
    }

    [data-version] {
      color: var(--clr-neutral-20);
    }

    :last-child {
      margin-left: auto;
    }

    &:hover {
      background-color: var(--clr-neutral-75);
    }
  }
}

.tabs {
  border-bottom: 1px solid var(--clr-neutral-70);
  overflow-x: auto;
  scrollbar-width: thin;
}

.tabs__list {
  display: flex;
}

.tabs__tab {
  border-bottom: 2px solid transparent;
}

.tabs__tab button {
  padding: 0.4em 1em;
  color: var(--clr-neutral-40);
  display: block;
  user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
}

.tabs__tab button:hover:not(:disabled) {
  color: var(--clr-neutral-20);
}

.tabs__tab[data-active="true"] {
  border-color: var(--clr-neutral-20);
}

.tabs__tab[data-active="true"] button {
  color: white;
}

.modView__content {
  overflow: auto;
  flex-grow: 1;
  padding-block: 1em;
}

.modView__content :global(.markdown) {
  padding-right: 0.75em;
}

.modView__form {
  margin-right: 1em;
  padding-block: 0.5em 0.75em;
  border-top: 1px solid var(--clr-neutral-70);
}

.modView__onlineActions {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.modView__versions {
  align-self: stretch;
  border: none;
  border: 1px solid var(--clr-neutral-60);
  border-radius: 100vmax 0 0 100vmax;
  flex-grow: 1;
  max-width: 8rem;
}

.modView__versionsItem {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  > div {
    padding: 0.5em 0.25em;

    [data-version] {
      font-weight: 600;
      margin-bottom: 0.25em;
    }

    [data-date] {
      color: var(--clr-neutral-30);
      font-size: 0.8rem;
    }
  }
}

.modView__downloadBtn {
  flex-grow: 1;
  padding: 0.5em 0.25em;
  font-size: 1.15rem;
  font-weight: 500;
  --bg-clr: var(--clr-primary-40);
  border-radius: 0 100vmax 100vmax 0;

  &:hover:not(:disabled) {
    --bg-clr: var(--clr-primary-50);
  }
}

.modView__installedActions {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "versions uninstall";
  gap: 0.75em;
  position: relative;

  button {
    width: 100%;
  }
}

.modView__versionLabel {
  grid-area: versions;
  justify-content: center;
}

.modView__versionsDropdown {
  grid-area: versions;
  left: 0;
  right: 0;
}

.modView__versionsDropdownContent {
  padding: 0.5em;
}

.modView__uninstallBtn {
  grid-area: uninstall;
  border: 1px solid var(--clr-danger-4);
  background-color: transparent;

  --progress-bg-from: var(--clr-danger-4);
  --progress-bg-to: var(--clr-danger-6);
}

.modView__uninstallBtn:hover,
.modView__uninstallBtn:focus {
  border-color: var(--clr-danger-5);
  background-color: var(--clr-danger-5);
}

/* Selected mods list */

.selected__cards {
  height: 20%;
  overflow: hidden;
  position: relative;
}

.cards__list {
  --card-spacing: 36;
  /* the base offset of each card */
  --cards-offset: calc((180 / 2) - ((var(--card-spacing)) / 2) * ((var(--total-cards)) - 1));
}

.selected__card {
  position: absolute;
  aspect-ratio: 5 / 7;
  width: 10%;
  border: 1px solid var(--clr-neutral-70);
  background-color: var(--clr-neutral-80);
  border-radius: 8px;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;

  offset-path: circle(20% at center 80%);

  /* the degree offset of each card from the origin on the circle */
  --card-angle: calc((var(--cards-offset)) + (var(--card-spacing)) * (var(--card-index)));
  offset-distance: calc((var(--card-angle)) * 100% / 360 - 50%);
}

.selected__card[data-overflow] {
  isolation: isolate;

  &::after {
    position: absolute;
    border-radius: inherit;
    content: attr(data-overflow);
    text-shadow: 0 0 4px rgb(0 0 0 / 0.7);
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(6px);
  }
}

.selected__title {
  text-align: center;
  padding-top: 0.25em;
  border-top: 1px solid var(--clr-neutral-70);
  margin-top: 0.25em;
}

.selected__actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 7rem));
  gap: 0.5em;
  justify-content: center;
  margin-top: auto;
  padding: 0.5em;

  button {
    width: 100%;
    border-radius: 6px;
  }
}

/* Mod update dialog */

.updateDialog {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  width: 100%;
  padding: 0.75em;

  h2 {
    margin-bottom: 0.5em;
    font-weight: 500;
    color: var(--clr-neutral-10);
    text-align: center;
  }

  .listContainer {
    border: 1px solid var(--clr-neutral-70);
    border-radius: 0.5em;
  }

  form {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    border-bottom: 1px solid var(--clr-neutral-70);
    padding: 0.5em;
  }

  fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  ul {
    list-style-type: none;
    overflow: auto;
    max-height: 75dvh;

    li {
      padding: 0.25em 0;
      color: var(--clr-neutral-20);
      font-size: 0.9rem;
      padding: 0.5em;

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:nth-child(even) {
        background-color: var(--clr-neutral-85);
      }

      &:hover,
      &:focus-within:has(:focus-visible) {
        background-color: var(--clr-neutral-70);
      }

      label {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      img {
        width: 3rem;
        border-radius: 4px;
      }

      .updateMetadata {
        flex-grow: 1;
        display: grid;
        grid-template-columns: [meta-start] 1fr [version-old-start] 7ch [arrow-start] 2ch [version-new-start] 7ch [version-end];
        grid-template-rows: auto auto;

        p[data-name],
        p[data-owner] {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p[data-name] {
          grid-column: meta-start / version-old-start;
          grid-row: 1 / 2;
          font-weight: 500;
          color: var(--clr-neutral-10);
        }

        p[data-owner] {
          grid-column: meta-start / version-old-start;
          grid-row: 2 / 3;
          color: var(--clr-neutral-30);
        }

        p[data-version] {
          grid-column: version-old-start / version-end;
          grid-row: 1 / 3;
          align-content: center;

          display: grid;
          grid-template-columns: subgrid;
          gap: 0.3em;

          color: var(--clr-neutral-20);
        }

        span[data-old-version] {
          justify-self: right;
        }

        span[data-arrow] {
          justify-self: center;
          color: var(--clr-neutral-40);
        }

        span[data-new-version] {
          justify-self: left;
          font-weight: 600;
        }
      }
    }
  }

  .updateBtns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }
}
