.main {
  display: grid;
  grid-template-columns: [sidebar-start] auto [content-start] 1fr [content-end];
  grid-template-rows: [content-row-start] 1fr [statusbar-start] auto [statusbar-end];
}

.tabs,
.navbar {
  display: flex;
}

/* Sidebar code */

.sidebar {
  --padding: 1em;
  --sidebar-width: 22rem;
  --neg-padding: calc(-1 * var(--padding));

  grid-column: sidebar-start;
  grid-row: content-row-start / statusbar-end;

  padding: var(--padding);
  width: var(--sidebar-width);
  border-right: 1px solid var(--clr-neutral-80);
  background-color: var(--clr-neutral-90);
}

.sidebar__group {
  h3 {
    font-weight: 350;
    color: var(--clr-neutral-20);
    margin-bottom: 0.5em;
  }
}

.sidebar__group:not(:first-child) {
  border-top: 1px solid var(--clr-neutral-80);
  padding-top: 0.75em;
  margin-top: 0.75em;
}

.sidebar__group:nth-child(2) {
  border-top: none;
  margin-top: 0;
}

.sidebar__mainActions {
  gap: 0.35em;
  margin: var(--neg-padding) var(--neg-padding) 0 var(--neg-padding);
  padding: 0.75em;
  background-image: var(--game-hero--url);
  background-size: cover;
  background-position: center;
  min-height: 10rem;
  position: relative;
  border-bottom: 1px solid var(--clr-neutral-80);

  .sidebar__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7em;
    font-size: 1.35rem;
    z-index: 1;
  }

  h1 {
    width: 100%;
    font-size: 1.75rem;
    font-weight: 300;
    color: rgb(240 240 240);
    text-shadow: 0 0 8px rgb(0 0 0 / 0.5);
  }

  .backBtn {
    font-size: inherit;
    padding: 0.4em 0.6em;
    width: auto;
    background-color: transparent;
  }

  .sidebar__mainActionBtns {
    margin-top: auto;
    display: flex;
    gap: 0.5em;
    z-index: 1;

    button {
      border-radius: 100vmax;
      padding: 0.5em;
    }

    button[data-launch] {
      --gradient-border-width: 2px;
      --glint-color: rgb(255 255 255 / 0.3);

      --bg-clr: var(--clr-primary-40);
      background-image: linear-gradient(20deg, var(--clr-primary-30), var(--clr-primary-50)),
        radial-gradient(circle at center, var(--clr-primary-20), var(--clr-primary-60), var(--clr-primary-30));
      background-clip: padding-box, border-box;
      background-size: 100%, 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.35em;

      transition: background-size 1s ease;

      flex-grow: 1;
      position: relative;
      overflow: hidden;
      border: var(--gradient-border-width) solid transparent;

      [data-arrow] {
        max-width: 0;
        overflow: hidden;
        transition: max-width 0.3s ease;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: calc(100% + var(--gradient-border-width) * 2);
        aspect-ratio: 1 / 1;
        pointer-events: none;
        top: 50%;
        left: 50%;
        translate: -105% -50%;
        transform: rotate(30deg);
        transform-origin: center;

        background-image: conic-gradient(
          var(--glint-color) 0deg,
          transparent 20deg 160deg,
          var(--glint-color) 180deg,
          transparent 200deg 340deg,
          var(--glint-color) 360deg
        );

        opacity: 0;
      }

      &:hover:not(:disabled),
      &:focus-visible:not(:disabled) {
        background-size: 100%, 200%;

        [data-icon] {
          justify-self: flex-start;
        }

        [data-arrow] {
          max-width: 3ch;
        }

        &::before {
          opacity: 1;
          translate: 5% -50%;
          transition: opacity 0.75s ease, translate 1.3s ease;
        }
      }

      &:active:not(:disabled) {
        --glint-color: rgb(255 255 255 / 0.15);
        background-image: linear-gradient(20deg, var(--clr-primary-25), var(--clr-primary-45)),
          radial-gradient(circle at center, var(--clr-primary-20), var(--clr-primary-55), var(--clr-primary-25));

        [data-icon] {
          translate: -50%;

          transition: translate 0.2s ease;
        }
      }
    }

    button[data-kill] {
      background-color: var(--clr-danger-4);
      background-image: linear-gradient(
        20deg,
        var(--clr-danger-3) 10%,
        var(--clr-danger-4) 80%,
        var(--clr-danger-5) 100%
      );
      border: 2px solid var(--clr-danger-7);
    }

    button[data-cancel] {
      background-color: var(--clr-warn-4);
      background-image: linear-gradient(20deg, var(--clr-warn-3) 10%, var(--clr-warn-4) 80%, var(--clr-warn-5) 100%);
      border: 2px solid var(--clr-warn-7);
    }

    .gameBtns {
      display: flex;
      margin-left: auto;
      align-items: end;

      button {
        background-color: transparent;
        padding: 0.1em 0.25em;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(0deg, rgb(0 0 0 / 0.5) 0%, transparent 30%),
      linear-gradient(180deg, rgb(0 0 0 / 0.7) 0%, transparent 50%), linear-gradient(rgb(0 0 0 / 0.1) 0% 100%);
    pointer-events: none;
  }
}

.sidebar__profilesTitle,
.sidebar__profilesActions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar__profilesTitle {
  justify-content: space-between;
}

.sidebar__profilesActionBtn {
  background-color: transparent;
  padding: 0;
  color: inherit;
  font-size: 1.25rem;
  padding-inline: 0.25em;
}

.sidebar__profilesActionBtn:hover,
.sidebar__profilesActionBtn:focus-visible {
  color: var(--clr-primary-50);
}

.sidebar,
.sidebar__group {
  display: flex;
  flex-direction: column;
}

.sidebar__group:last-child {
  margin-top: auto;
}

.sidebar__settingsLink {
  font-size: 1.75rem;
  color: var(--clr-neutral-20);
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.25em;

  > span {
    font-size: 1.1rem;
    color: var(--clr-neutral-30);
  }
}

.sidebar__settingsLink:hover {
  color: var(--clr-primary-50);

  > span {
    color: inherit;
  }
}

.expandBtn {
  display: none;
}

/* Profile main section code */

.tabs {
  margin: -1em -1em 0.75em -1em;
  padding: 0.3em;
  border-bottom: 1px solid var(--clr-neutral-80);
  background-color: var(--clr-neutral-90);
}

.content {
  grid-column: content-start / content-end;
  grid-row: content-row-start / statusbar-start;
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__console {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: -1em;
  overflow: hidden;
}

.noProfilesMsg {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  p {
    color: var(--clr-neutral-20);
  }
}

.noProfilesMsg__btns {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}

/* Small screen code */

@media screen and (max-width: 1200px) {
  .main {
    --sidebar-mini-width: 3.3rem;

    position: relative;

    grid-template-columns: [sidebar-start] var(--sidebar-mini-width) [content-start] 1fr [content-end];
  }

  .sidebar {
    /* transform: translateX(-100%); */
    transition: transform 0.15s ease;

    .expandBtn {
      display: block;
      font-size: 1.5rem;
      color: var(--clr-neutral-20);
      background-color: transparent;
      padding: 0.75em 0.35em;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-neutral-80);
        color: var(--clr-primary-55);
      }
    }

    &[data-sidebar-open="false"] {
      width: var(--sidebar-mini-width);

      padding: 0;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      justify-items: center;

      .sidebar__group {
        border: none;
      }

      .sidebar__mainActions {
        background-image: none;
        padding: 0;
        margin: 0;
        justify-self: stretch;
        padding-top: 0.5em;
      }

      .sidebar__mainActionBtns {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        > button {
          aspect-ratio: 1 / 1;
          padding: 0.3em;
          font-size: 1.2rem;
        }

        button[data-launch] {
          background-image: none;
          background-color: transparent;
          border: none;
        }

        .gameBtns {
          display: none;
        }
      }

      .sidebar__mainActions::after,
      .sidebar__mainActions span,
      .sidebar__nav {
        display: none;
      }

      .sidebarMini {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%);
        width: var(--sidebar-mini-width);

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .sidebar__settingsLink {
        padding: 0.5em 0.35em;

        > span {
          display: none;
        }
      }
    }

    &[data-sidebar-open="true"] {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      /* transform: translateX(0); */
      box-shadow: 0 0 1.5rem 0rem rgb(0 0 0 / 0.5);

      .expandBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        background-color: inherit;
        border: 1px solid var(--clr-neutral-70);
        border-left: none;
        border-radius: 0 0.75em 0.75em 0;
        padding-block: 1em;
        z-index: -1;
      }
    }
  }
}
