:root {
  --font: "Inter", Avenir, Helvetica, Arial, sans-serif;
  --font-monospace: "SourceCodePro", monospace, "Courier New", Courier;

  font-family: var(--font);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --titlebar-height: 28px;
  --titlebar-logo-size: 16px;
  --titlebar-z-index: 100;
  --dropdown-z-index: 90;
  --dropdown-active-z-index: 99;
  --portal-z-index: 9;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For Tauri Windows custom titlebar */
*[data-tauri-drag-region] {
  app-region: drag;
}

html {
  height: 100dvh;
}

body {
  background-color: var(--clr-neutral-85);
  color: var(--clr-neutral-05);
  height: 100dvh;
  overflow: hidden;
  font-size: 1rem;
  position: relative;
  margin-top: var(--titlebar-height);
}

* {
  scrollbar-color: var(--clr-neutral-40) transparent; /* thumb and track color */
}

main {
  height: calc(100dvh - var(--titlebar-height));
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: var(--clr-primary-60);
}

a:hover {
  color: var(--clr-primary-70);
}

a:disabled {
  opacity: 0.5;
}

input,
button,
select {
  font-size: inherit;
  color: var(--clr-neutral-05);
  display: block;
  font-family: var(--font);
}

@supports selector(*:focus-visible) {
  *:focus {
    outline: none;
  }
}

*:focus-visible {
  outline: 2px solid var(--clr-warn-5);
  outline-offset: -2px;
  z-index: 0;
}

input {
  background-color: var(--clr-neutral-80);
  border: 1px solid var(--clr-neutral-70);
  padding: 0.35em 0.5em;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

input[type="text"] {
  border-radius: 4px;
}

button {
  border: none;
  padding: 0.35em 1.5em;
  background-color: var(--bg-clr, var(--clr-neutral-80));
  color: var(--clr-neutral-05);
  width: fit-content;
  border-radius: 100vmax;

  transition: background-color 0.1s ease, color 0.1s ease;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    --bg-clr: var(--clr-neutral-70);
  }
}

button[data-btn*="primary"] {
  --bg-clr: var(--clr-primary-40);
  border: none;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    --bg-clr: var(--clr-primary-50);
  }
}

button[data-btn*="ghost"] {
  border: 1px solid var(--clr-neutral-70);
  --bg-clr: transparent;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    --bg-clr: var(--clr-neutral-70);
  }
}

button:hover:not(:disabled),
button:focus-visible:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

select {
  background-color: var(--clr-neutral-70);
  color: var(--clr-neutral-05);
  border-color: var(--clr-neutral-20);
}

select:disabled {
  opacity: 0.4;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  background-color: var(--clr-neutral-80);
  height: 1px;
  margin: 1em 0;
}

.phantom {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@media screen AND (max-width: 700px) {
  :root {
    font-size: 12px;
  }
}
