.markdown {
  & {
    font-size: 12px;
  }

  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    & {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 48rem) {
    & {
      font-size: 16px;
    }
  }

  pre,
  code {
    font-family: var(--font-monospace);
    background-color: var(--clr-neutral-90);
    color: var(--clr-neutral-05);
    font-size: 0.9rem;
  }

  pre {
    padding: 0.5rem;
    line-height: 1.25;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  a,
  a:visited {
    color: var(--clr-primary-60);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--clr-primary-65);
    text-decoration: underline;
  }

  .no-decoration {
    text-decoration: none;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.75em;
    line-height: 1.35;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0.75em;
    margin-bottom: 0.35em;
    font-weight: inherit;
    line-height: 1.25;
    display: block;
  }

  h1 {
    margin-top: 0.5em;
    font-size: 2rem;
    border-bottom: 1px solid var(--clr-neutral-80);
  }

  h1:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 0.95rem;
  }

  h6 {
    font-size: 0.88rem;
  }

  small {
    font-size: 0.75em;
  }

  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }

  img[src*="img.shields.io"] {
    /* Known height of badges, reduces cumulative layout shifts */
    min-height: 28px;
  }

  blockquote {
    border-left: 4px solid var(--clr-neutral-40);
    padding: 0.5em 1em;
    margin-block: 0.5em;
  }

  blockquote p {
    margin: 0;
    color: var(--clr-neutral-20);
  }

  ul {
    list-style-type: disc;
    margin-bottom: 1em;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-left: 1.5em;
    margin-bottom: 0.25em;
  }

  .table-wrapper {
    overflow-x: auto;
    scrollbar-width: thin;
  }

  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid var(--clr-neutral-50);
  }

  th,
  td {
    padding: 0.35em;
  }
}
