:root {
  --clr-neutral-05: hsl(214 28% 5%);
  --clr-neutral-10: hsl(214 28% 10%);
  --clr-neutral-15: hsl(214 28% 15%);
  --clr-neutral-20: hsl(214 28% 20%);
  --clr-neutral-25: hsl(218 20% 25%);
  --clr-neutral-30: hsl(218 20% 30%);
  --clr-neutral-45: hsl(210 15% 45%);
  --clr-neutral-50: hsl(210 15% 50%);
  --clr-neutral-55: hsl(210 10% 55%);
  --clr-neutral-60: hsl(210 10% 60%);
  --clr-neutral-65: hsl(210 12% 65%);
  --clr-neutral-70: hsl(210 12% 70%);
  --clr-neutral-75: hsl(212 15% 75%);
  --clr-neutral-80: hsl(212 15% 80%);
  --clr-neutral-85: hsl(212 18% 85%);
  --clr-neutral-90: hsl(212 18% 90%);
  --clr-neutral-95: hsl(211 20% 95%);

  --clr-primary-05: hsl(219 90% 4%);
  --clr-primary-10: hsl(219 90% 9%);
  --clr-primary-15: hsl(219 90% 14%);
  --clr-primary-20: hsl(219 90% 19%);
  --clr-primary-25: hsl(219 90% 24%);
  --clr-primary-30: hsl(219 90% 29%);
  --clr-primary-35: hsl(219 90% 34%);
  --clr-primary-40: hsl(219 90% 39%);
  --clr-primary-45: hsl(219 90% 44%);
  --clr-primary-50: hsl(219 90% 49%);
  --clr-primary-55: hsl(219 90% 54%);
  --clr-primary-60: hsl(219 90% 59%);
  --clr-primary-65: hsl(219 90% 64%);
  --clr-primary-70: hsl(219 90% 69%);
  --clr-primary-75: hsl(219 90% 74%);
  --clr-primary-80: hsl(219 90% 79%);
  --clr-primary-85: hsl(219 90% 84%);
  --clr-primary-90: hsl(219 90% 89%);
  --clr-primary-95: hsl(219 90% 94%);

  --clr-comp: #ec9d0c;

  --clr-accent-1: hsl(309 63% 10%);
  --clr-accent-2: hsl(309 63% 20%);
  --clr-accent-3: hsl(309 63% 30%);
  --clr-accent-4: hsl(309 63% 40%);
  --clr-accent-5: hsl(309 63% 48%);
  --clr-accent-6: hsl(309 63% 60%);
  --clr-accent-7: hsl(309 63% 75%);
  --clr-accent-8: hsl(309 63% 80%);
  --clr-accent-9: hsl(309 63% 90%);

  --clr-danger-1: hsl(1 85% 10%);
  --clr-danger-2: hsl(1 85% 20%);
  --clr-danger-3: hsl(1 85% 30%);
  --clr-danger-4: hsl(1 85% 36%);
  --clr-danger-5: hsl(1 85% 50%);
  --clr-danger-6: hsl(1 85% 60%);
  --clr-danger-7: hsl(1 85% 70%);
  --clr-danger-8: hsl(1 85% 80%);
  --clr-danger-9: hsl(1 85% 90%);

  --clr-warn-1: hsl(34 100% 10%);
  --clr-warn-2: hsl(34 100% 20%);
  --clr-warn-3: hsl(34 100% 30%);
  --clr-warn-4: hsl(34 100% 40%);
  --clr-warn-5: hsl(34 100% 50%);
  --clr-warn-6: hsl(34 100% 59%);
  --clr-warn-7: hsl(34 100% 70%);
  --clr-warn-8: hsl(34 100% 80%);
  --clr-warn-9: hsl(34 100% 90%);

  --clr-ok-1: hsl(146 100% 10%);
  --clr-ok-2: hsl(146 100% 20%);
  --clr-ok-3: hsl(146 100% 30%);
  --clr-ok-4: hsl(146 100% 40%);
  --clr-ok-5: hsl(146 100% 50%);
  --clr-ok-6: hsl(146 100% 59%);
  --clr-ok-7: hsl(146 100% 70%);
  --clr-ok-8: hsl(146 100% 80%);
  --clr-ok-9: hsl(146 100% 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-neutral-95: hsl(214 28% 5%);
    --clr-neutral-90: hsl(214 28% 10%);
    --clr-neutral-85: hsl(214 28% 15%);
    --clr-neutral-80: hsl(214 28% 20%);
    --clr-neutral-75: hsl(218 20% 25%);
    --clr-neutral-70: hsl(218 20% 30%);
    --clr-neutral-65: hsl(210 15% 45%);
    --clr-neutral-60: hsl(210 15% 50%);
    --clr-neutral-55: hsl(210 10% 55%);
    --clr-neutral-40: hsl(210 10% 60%);
    --clr-neutral-35: hsl(210 12% 65%);
    --clr-neutral-30: hsl(210 12% 70%);
    --clr-neutral-25: hsl(212 15% 75%);
    --clr-neutral-20: hsl(212 15% 80%);
    --clr-neutral-15: hsl(212 18% 85%);
    --clr-neutral-10: hsl(212 18% 90%);
    --clr-neutral-05: hsl(211 20% 95%);
  }
}
