.contextMenu {
  display: flex;
  flex-direction: column;
}

.contextMenuItem {
  padding-inline: 0.35em;

  button {
    color: var(--clr-neutral-20);
    font-size: 0.9rem;
    display: block;
    padding: 0.35em 0.5em;
    width: 100%;
    text-align: left;

    &:hover {
      color: var(--clr-neutral-10);
    }
  }
}

.contextMenuSpacer {
  margin-block: 0.35em;
  background-color: var(--clr-neutral-70);
}
