.errorDialog {
  padding: 0;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  gap: 8px;

  overflow: auto;

  max-width: 100%;
}

.report {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  max-width: 100%;
}

.pre {
  overflow: auto;
  padding: 0.5em;
  max-height: 70dvh;
  border: 1px solid var(--clr-neutral-70);
  border-radius: 0.5em;
}

.spoiler {
  align-self: stretch;

  & > summary > h3 {
    display: inline-block;
  }

  summary {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  padding: 1em;
}

.errorIndicator {
  & > svg {
    margin-right: 8px;
  }
}
