/* Linear progress bar */

.simpleIndicator {
  width: 100%;
  max-width: 12rem;
  border-radius: 4em;
  overflow: hidden;
  position: relative;
  background-color: hsl(from var(--clr-neutral-80) h s calc(l - 3));
  z-index: 0;
  container-type: inline-size;

  &.simpleIndicatorIndeterminate {
    height: 0.9em;
  }
}

.simpleIndicator::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-50);
  transform: scaleX(var(--percentage));
  transform-origin: left;
  transition: transform 0.2s ease;
}

.simpleIndicatorIndeterminate::after {
  width: 50%;
  transform-origin: center;
  animation: indeterminateScroll 1.5s infinite linear, indeterminateResize 1.5s infinite ease-in-out;
}

@keyframes indeterminateScroll {
  from {
    left: 0%;
    translate: -100%;
  }

  to {
    left: 100%;
    translate: 100%;
  }
}

@keyframes indeterminateResize {
  0% {
    transform: scaleX(50%);
  }
  40% {
    transform: scaleX(80%);
  }
  70% {
    transform: scaleX(20%);
  }
  90% {
    transform: scaleX(15%);
  }
}

.simpleIndicator__text {
  text-align: center;
  font-size: 0.9rem;
  text-shadow: 0 0 4px rgb(0 0 0 / 0.5);
}

/* Circular progress bar */

.circularIndicator {
  width: 2em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.circularSvg {
  --stroke-width: 0.75em;

  foreignObject > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  circle {
    fill: transparent;
  }

  .progressBg {
    stroke-width: var(--stroke-width);
    stroke: hsl(from var(--clr-neutral-80) h s calc(l - 3));
  }

  .progressBar {
    stroke-linecap: round;
    stroke-width: var(--stroke-width);
    stroke: var(--clr-primary-60);
    transition: stroke-dashoffset 0.1s ease-in-out;
  }

  .pauseBtn {
    background-color: transparent;
    font-size: 500%;
    padding: 0.2em 0.4em;
  }
}

.progressText {
  font-size: 0.75em;
  color: var(--clr-neutral-20);
  text-align: center;
}

.progressText[data-inner] {
  font-size: 2.5em;
}

.progressText[data-outer] {
  font-size: 0.75em;
}
