.dropdownBase {
  z-index: var(--dropdown-z-index);
}

.dropdownDefault {
  padding: 0.5em 0;
  background-color: var(--clr-neutral-80);
  border: 1px solid var(--clr-neutral-70);
  border-radius: 4px;

  opacity: 0;

  transition: opacity 0.1s ease;

  &.dropdownOpen {
    pointer-events: all;
    opacity: 1;
  }
}

.toggle {
  padding: 0.25em 0.75em;
  display: flex;
  align-items: center;
  gap: 0.35em;
  user-select: none;
  -webkit-user-select: none;
}

.toggle:hover {
  cursor: pointer;
}

.toggle__icon {
  transition: rotate 0.2s ease;
}

.toggle[aria-checked="true"] .toggle__icon {
  rotate: 180deg;
}

.toggleDefault {
  background-color: var(--clr-neutral-80);
  border: 1px solid var(--clr-neutral-70);
  border-radius: 4px;
}
