.tooltip {
  background-color: var(--clr-neutral-80);
  padding: 0.25em;
  border: 1px solid var(--clr-neutral-70);
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.3);
  z-index: var(--dropdown-z-index);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease;
  transition-delay: var(--tooltip-delay-end, 0s);
  width: max-content;
  max-width: 200px;
  pointer-events: none;
}

[data-anchor]:hover + .tooltip,
[data-anchor]:focus-visible + .tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: var(--tooltip-delay-start, 0.1s);
}

.tooltipText {
  font-size: 0.9rem;
  color: var(--clr-neutral-10);
  font-weight: 320;
}

.arrow {
  position: absolute;
}
